  html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    margin: 0;
  }


  }
  h1 {
    font-size: 2.5em;
  }


  nav li {
    list-style: none;
    display: inline-block;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
    font-size: 1.2em;

  }

  nav li:hover {
    background-color:pink;
  }

  .newpicture {
    padding-bottom: 2em;
  }

  h2 {
    text-align: center;
    font-size: 1.2em;
    margin:0;
  }

  .forms input  {
    font-size:1.5em;
  }

  .back_edit_delete p a{
    font-size: 1.2em;
    margin-left: 1em;
    color:blue;
  }

  .error {
    color: red;

  }

  .comments h4 {
    color:brown;
  }

  .comments {
    color:green;
  }

  .body {
    max-width: 100%
  }

  .grid {
    display:inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    grid-gap: 5px;

  }

  .new_edit {
    border: 2px solid grey;
  }

  footer {
    background-color: lightgrey;
    margin: 10px;
  }

  @media screen and (max-width: 780px) {

     .grid{
       grid-template-columns: 1fr 1fr ;
       grid-template-rows: 1fr 1fr;

    }

}

@media screen and (max-width: 450px) {

   .grid{
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     text-align: center;


  }

  img {
    max-width: 100%;
  }

  .first img {
    height:auto;
  }

}
