<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>Alam Photography</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<header>
<h1>ALAM + CAMERA </h1>
</header>

<nav>
  <li>Home</li>
  <li>About me</li>
  <li>Galleries</li>
  <li>Contact</li>
</nav>

<body>

<%= yield %>
<nav>
  <li>Home</li>
  <li>About me</li>
  <li>Galleries</li>
  <li>Contact</li>
</nav>
<footer> Alam copyright 2018 </footer>
</body>
</html>
